.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  background-color: rgb(27 26 34);
  color: whitesmoke;
}

.game-text {
  font-size: 2em;
  font-family: 'NinjaAdventure';
  margin: 0;
  line-height: 1;
}

.zontent {
  display: flex;
  gap: 50px;
}

.content.one {
  flex: 1
}

.content.two {
  flex: 3
}

.suki-style img {
  width: auto;
  height: 120px;
}

.suki-container {
  max-width: 250px;
}

.suki-title {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

.suki-title:hover .game-text {
  animation: pulse 2s infinite;
  color: gold;
  cursor: pointer;
}

a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

.game-text a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

.game-text a:visited {
  color: gold !important;
  text-decoration: none !important;
}

.game-text a {
  text-decoration: none;
}

.suki-style {
  width: 100px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(27 26 34);
  user-select: none;
  overflow-y: scroll;
}

article {
  background-color: rgb(27 26 34);
}

.openai {
  max-width: 400px;
  border-radius: 5px;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
  transition: opacity 1.3s ease;
  gap: 10px;
}

.form-ai {
  display: flex;
  gap: 0;
}

.exp {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
  width: 85%;
  flex-wrap: wrap;
}

.suki-text p {
  font-size: 1.3em;
  font-weight: 300;
  font-family: 'NinjaAdventure';
  word-spacing: 0.25em;
}

.logo {
  cursor: pointer;
    width: 130px;
    filter: invert(1) grayscale(1) brightness(2);
}

.un-logo {
  width: 130px;
  cursor: pointer;
}

.openai-container {
  position: absolute;
  background: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  z-index: 1;
}


.modal-text li {
  text-indent: -1.25em; /* this will bring the bullet point into the padding area */
  padding-left: 1em; /* this will add padding to the left of the list item */
}

h4.modal-subtitle {
  margin-top: 0px;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.x-button {
  background: transparent;
  color: black;
  width: 20px;
  height: 20px;
  font-weight: bold;
  right: 10px;
  position: absolute;
  font-size: 25px;
  border: none;
  top: 10px;
  transition: color 1s ease;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.x-button:hover {
color: #5b5b5b;
transition: color 1s ease;
}

.ai-button {
  width: 125px;
  background: #1b1a22;
  height: 35px;
  border-radius: 15px;
  position: relative;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  overflow: hidden;
  z-index: 3;
  transition: transform 1s ease-in-out, color 1s ease-in-out;;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 5
}

.ai-button.collapsed::before {
  background: #f0f0f0;
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  border-radius: 0px;
  transform-origin: left;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.ai-button.collapsed:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.ai-button.expanded {
  background: #1b1a22;
  z-index: 0;
  color: #464646;
  border: 1px solid #5e5e5f;
  transition: color 0.3s ease, border 0.3s ease, background 0.3s ease;
}

.ai-button.collapsed:hover {
  transition: color 1s ease-in-out;
  color: black;
}


.openai-container.collapsed {
  overflow: hidden;
  border: none;
  padding: 0;
  display: none;
}

h3 {
  margin-top: 0;
}


.openai textarea {
  color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  -webkit-user-select: text !important;
  user-select: text !important;
  max-height: 50px !important;
  overflow-y: scroll;
  outline: none;
  border: 1px solid black;

}

.typing-animation {
  display: inline-block;
}

.typing-animation::after {
  content: '';
  display: inline-block;
  animation: typing 2s steps(5, end) infinite;
}

@keyframes typing {
  0%, 50%, 100% {
    content: '';
  }
  16.67% {
    content: '.';
  }
  33.33% {
    content: '..';
  }
  66.67% {
    content: '...';
  }
  83.33% {
    content: '....';
  }
}

.modal-text.mini {
  font-size: 1em;
  opacity: 0.8;
}

.openai button {
  padding: 10px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #1b1a22;
  color: white;
  border: none;
  cursor: pointer;
}

.openai button:hover {
  background-color: #37648c;
}

.openai-response {
  background: rgb(94 129 161);
  color: white;
  padding: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-size: 1.1em;
  line-height: 1.5em;
  width: 285px;
}

.response-frame {
  max-height: 230px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.spacer {
  flex-grow: 1;
}


.hidden {
  visibility: hidden;
}

/* For screens smaller than 600px */
@media only screen and (max-width: 449px) {

  .zontent {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  .title {
    padding: 30px;
   }

  .about-me {
    padding-right: 30px;
  }

  .contact {
    position: relative !important;
    gap: 25px !important;
    top: auto !important;
    right: auto !important;
    margin-bottom: 50px !important;
      }
    
    .logo-container {
    width: 30px !important;
      height: 30px !important;
    }
    
    .email-logo {
      width: 30px !important;
    }
    
    .linkedin-logo {
    width: 30px !important;
    }
    
    .github-logo {
      width: 30px !important;
      height: 30px !important;
    }

  .App {
    height: 100%;
  }

  .code-frame {
    max-width: 150px;
  }

  .openai-container {
right:0;
width: calc(100% - 60px);
max-width: none;
top: 0;
bottom: auto;
border-radius: 0;
  }

  .content {
    position: relative;
    margin-top: 15px !important;
    width: 90%;
}


.modal-container {
  flex-direction: column;
}

.ReactModal__Content.ReactModal__Content--after-open{
  width: 70% !important;
  inset: 30px !important;
}

.exp {
  width: 100%;
  justify-content: flex-start
}

}
@media only screen and (min-width: 450px) and (max-width: 600px) {
  .zontent {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }


  .title {
    padding: 50px 50px;
  }

  .about-me {
    padding-right: 30px;
  }

  .exp {
    width: 100%;
    justify-content: flex-start
  }

  .ReactModal__Content.ReactModal__Content--after-open{
    width: 70% !important
  }

  .contact {
    position: relative !important;
    gap: 25px !important;
    top: auto !important;
    right: auto !important;
    margin-bottom: 50px !important;
  }
    
    .logo-container {
    width: 30px !important;
      height: 30px !important;
    }
    
    .email-logo {
      width: 30px !important;
    }
    
    .linkedin-logo {
    width: 30px !important;
    }
    
    .github-logo {
      width: 30px !important;
      height: 30px !important;
    }
}

/* For screens between 600px and 900px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .title {
    padding: 0 70px;
  }
  .about-me {
    padding-right: 30px;
  }

  .exp {
    width: 100%;
    justify-content: flex-start
  }

  .ReactModal__Content.ReactModal__Content--after-open{
    width: 70% !important
  }
}

/* For screens between 901px and 1200px */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .title {
    padding: 0 70px;
  }
  .about-me {
    padding-right: 30px;
  }

  .exp {
    width: 100%;
  }

  .ReactModal__Content.ReactModal__Content--after-open{
    width: 70% !important
  }
}

/* For screens larger than 1200px */
@media only screen and (min-width: 1201px) and (max-width: 1585px) {
  .title {
    padding: 0 100px;
  }
  .about-me {
    padding-right: 200px;
  }
}

/* For screens larger than 1500px */
@media only screen and (min-width: 1586px) {
  .title {
    padding: 0 300px;
  }
}

.intro {
  display: block;
  position: relative;
}

.send {
width: 20px;
}

#prompt {
  width: 100%;
  padding: 10px;
  height: 72px !important;
  font-size: 16px;
  resize: none;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  height: 72px;
  cursor: pointer;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

:root {
  --fontSizes-XXL: 4.8rem;
  --fontSizes-XL: 4rem;
  --fontSizes-L: 3.2rem;
  --fontSizes-M: 2.6rem;
  --fontSizes-S: 2rem;
  --fontSizes-XS: 1.6rem;
  --fontSizes-XXS: 1.4rem;
  --fontSizes-XXXS: 1.1rem;
  --lineHeights-XL: 5rem;
  --lineHeights-L: 4.2rem;
  --lineHeights-M: 3.6rem;
  --lineHeights-S: 3rem;
  --lineHeights-XS: 2.6rem;
  --lineHeights-XXS: 180%;
}

h2 {
  font-size: var(--fontSizes-XXL);
  /* rest of your styles */
}

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
  h2 {
    font-size: var(--fontSizes-S);
    line-height: var(--lineHeights-S);
  }
  p {
    font-size: var(--fontSizes-XXS);
  }

  .logo {
    width: 80px;
  }
}

/* For screens between 600px and 900px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  h2 {
    font-size: var(--fontSizes-M);
    line-height: var(--lineHeights-M);
  }
  p {
    font-size: var(--fontSizes-XXS);
  }

  .logo {
    width: 100px;
  }
}

/* For screens between 901px and 1200px */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  h2 {
    font-size: var(--fontSizes-L);
    line-height: var(--lineHeights-L);
  }
  p {
    font-size: var(--fontSizes-XS);
  }

  .logo {
    width: 110px;
  }
}

/* For screens larger than 1200px */
@media only screen and (min-width: 1201px) {
  h2 {
    font-size: var(--fontSizes-XL);
    line-height: var(--lineHeights-XL);
  }
  p {
    font-size: var(--fontSizes-S);
  }
}

/* For screens between 600px and 900px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  h2 {
    font-size: var(--fontSizes-M);
  }
}

/* For screens between 901px and 1200px */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  h2 {
    font-size: var(--fontSizes-L);
  }
}

/* For screens larger than 1200px */
@media only screen and (min-width: 1201px) {
  h2 {
    font-size: var(--fontSizes-XL);
  }
}

.hover-underline-animation__1, .hover-underline-animation__2, .hover-underline-animation__3 {
  text-decoration: none;
  cursor: pointer;
  transition: text-shadow 0.3s ease-in-out;
  mix-blend-mode: screen;
}

.hover-underline-animation__1:hover {
  animation: glow1 5s infinite;
}

.hover-underline-animation__2:hover {
  animation: glow2 5s infinite;
}

.hover-underline-animation__3:hover {
  animation: glow3 5s infinite;
}

@keyframes glow1 {
  0%, 100% {
    text-shadow: 0 0 10px rgb(153, 133, 255), 0 0 20px rgb(153, 133, 255), 0 0 30px rgb(153, 133, 255), 0 0 40px rgb(153, 133, 255);
  }
  20% {
    text-shadow: 0 0 12px rgb(153, 133, 255), 0 0 22px rgb(153, 133, 255), 0 0 32px rgb(153, 133, 255), 0 0 42px rgb(153, 133, 255);
  }
  40% {
    text-shadow: 0 0 15px rgb(153, 133, 255), 0 0 25px rgb(153, 133, 255), 0 0 35px rgb(153, 133, 255), 0 0 45px rgb(153, 133, 255);
  }
  60% {
    text-shadow: 0 0 12px rgb(153, 133, 255), 0 0 22px rgb(153, 133, 255), 0 0 32px rgb(153, 133, 255), 0 0 42px rgb(153, 133, 255);
  }
  80% {
    text-shadow: 0 0 10px rgb(153, 133, 255), 0 0 20px rgb(153, 133, 255), 0 0 30px rgb(153, 133, 255), 0 0 40px rgb(153, 133, 255);
  }
}

@keyframes glow2 {
  0%, 100% {
    text-shadow: 0 0 10px rgb(37, 143, 237), 0 0 20px rgb(37, 143, 237), 0 0 30px rgb(37, 143, 237), 0 0 40px rgb(37, 143, 237);
  }
  20% {
    text-shadow: 0 0 12px rgb(37, 143, 237), 0 0 22px rgb(37, 143, 237), 0 0 32px rgb(37, 143, 237), 0 0 42px rgb(37, 143, 237);
  }
  40% {
    text-shadow: 0 0 15px rgb(37, 143, 237), 0 0 25px rgb(37, 143, 237), 0 0 35px rgb(37, 143, 237), 0 0 45px rgb(37, 143, 237);
  }
  60% {
    text-shadow: 0 0 12px rgb(37, 143, 237), 0 0 22px rgb(37, 143, 237), 0 0 32px rgb(37, 143, 237), 0 0 42px rgb(37, 143, 237);
  }
  80% {
    text-shadow: 0 0 10px rgb(37, 143, 237), 0 0 20px rgb(37, 143, 237), 0 0 30px rgb(37, 143, 237), 0 0 40px rgb(37, 143, 237);
  }
}

@keyframes glow3 {
  0%, 100% {
    text-shadow: 0 0 10px rgb(235, 182, 106), 0 0 20px rgb(235, 182, 106), 0 0 30px rgb(235, 182, 106), 0 0 40px rgb(235, 182, 106);
  }
  20% {
    text-shadow: 0 0 12px rgb(235, 182, 106), 0 0 22px rgb(235, 182, 106), 0 0 32px rgb(235, 182, 106), 0 0 42px rgb(235, 182, 106);
  }
  40% {
    text-shadow: 0 0 15px rgb(235, 182, 106), 0 0 25px rgb(235, 182, 106), 0 0 35px rgb(235, 182, 106), 0 0 45px rgb(235, 182, 106);
  }
  60% {
    text-shadow: 0 0 12px rgb(235, 182, 106), 0 0 22px rgb(235, 182, 106), 0 0 32px rgb(235, 182, 106), 0 0 42px rgb(235, 182, 106);
  }
  80% {
    text-shadow: 0 0 10px rgb(235, 182, 106), 0 0 20px rgb(235, 182, 106), 0 0 30px rgb(235, 182, 106), 0 0 40px rgb(235, 182, 106);
  }
}

@keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 10px peachpuff) drop-shadow(0 0 20px peachpuff) drop-shadow(0 0 30px peachpuff) drop-shadow(0 0 40px peachpuff);
  }
  20% {
    filter: drop-shadow(0 0 12px peachpuff) drop-shadow(0 0 22px peachpuff) drop-shadow(0 0 32px peachpuff) drop-shadow(0 0 42px peachpuff);
  }
  40% {
    filter: drop-shadow(0 0 15px peachpuff) drop-shadow(0 0 25px peachpuff) drop-shadow(0 0 35px peachpuff) drop-shadow(0 0 45px peachpuff);
  }
  60% {
    filter: drop-shadow(0 0 12px peachpuff) drop-shadow(0 0 22px peachpuff) drop-shadow(0 0 32px peachpuff) drop-shadow(0 0 42px peachpuff);
  }
  80% {
    filter: drop-shadow(0 0 10px peachpuff) drop-shadow(0 0 20px peachpuff) drop-shadow(0 0 30px peachpuff) drop-shadow(0 0 40px peachpuff);
  }
}

h2 {
  font-weight: 300;
  font-family: 'Yantramanav', sans-serif;
  
  /* Change font color to a light color */
  color: #f0f0f0;
  margin-bottom: 0;
  /* Add outer glow */
}

p {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 200;
  line-height: 1.5em;
}

.intro {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #0000;

}
.content {
  position: relative;
  width: 90%;
  margin-top: 50px;
  justify-content: space-between;
}

.ask-about-me-btn {
  color: var(--colors-steel100);
  border: none;
  border-radius: var(--radii-r8);
  padding: 2px;
  background-clip: content-box;
  position: relative;
  display: inline-block;
  z-index: 0;
}

:root {
  --primary-color: #fafafa; /* A vibrant blue */
  --secondary-color: #fafafa; /* Light grey for backgrounds */
  --text-color: #fafafa; /* Dark grey for text */
  --modal-border-radius: 10px;
  --modal-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5em;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

.hpeqxnew {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.ReactModal__Content {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
}

.ReactModal__Content--after-open {
  opacity: 1;
  visibility: visible;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: white;
}
.modal-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* make items stretch to full height */
  column-gap: 20px;
}

.modal-section.mini {
  flex: 3 1;
}

.modal-text.caption {
  font-style: italic;
  text-align: center;
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: 5px;
}

.modal-image {
  border-radius: 10px;
  object-fit: contain; /* ensure entire image is visible */
  width: 100%;
}

.modal-image-container {
  flex: 1 0;
  margin-bottom: 20px;
  transition: flex 1.5s ease, max-height 2.5s ease;
}

.modal-image-container.second {
  cursor: pointer;
  max-height: 200px;
  overflow: hidden;
  transition: flex 1.5s ease, max-height 1.5s ease;
}

.modal-image-container.second.expand {
  flex: 10;
  max-height: 2000px;
  transition: flex 1.5s ease, max-height 2.5s ease;
  }

  .modal-image-container.third {
    overflow: hidden;
    transition: flex 1.5s ease, max-height 1.5s ease;
  }

  .modal-image-container.first {
    cursor: pointer;
    transition: flex 1.5s ease, max-height 1.5s ease;
  }
  
  .modal-image-container.first.expand {
    flex: 10;
    transition: flex 1.5s ease, max-height 1.5s ease;
    }

.hpeqxnew:hover {
  transition: transform 0.3s ease;
}

.modal-section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #2b2b37;
  border-radius: var(--modal-border-radius);
  transition: background-color 0.3s ease;
}

.modal-section:hover {
background-color: #282833;
transition: background-color 0.3s ease;
}

.modal-subtitle {
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.react-logo {
  width: 150px;
}

.code-frame {
  background-color: #000000;
  border-radius: 10px;
  padding: 15px;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  overflow-x: auto;
  white-space: pre-wrap;
}

.modal-text {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.6;
}

.modal-hidden {
  display: none;
  opacity: 0;
  transform: scale(0.9);
}

.modal-visible {
  display: block;
  animation: fadeIn 0.5s, scaleUp 0.5s;
}

.screenshot {
  width: 100%
}
.modal-badge {
  filter: invert(1);
  width: 130px;
}

.contact {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 25px;
  top: 40px;
  right: calc(50% - 85px);
}

.logo-container {
  width: 35px;
  height: 35px;
}

.email-logo {
  fill: white;
  width: 35px;
  cursor: pointer;
  transition: fill 0.3s ease-out 0s, transform 0.3s ease-out;
}

.linkedin-logo {
width: 35px;
filter: invert(1) grayscale(1) brightness(2);
cursor: pointer;
transition: filter 0.3s ease-out 0s, transform 0.3s ease-out;
}

.github-logo {
  fill: white;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: fill 0.3s ease-out 0s, transform 0.3s ease-out;
}

.logo-container:hover .linkedin-logo {
  filter: brightness(3);
  transform: translateY(-10px);
  transition: filter 0.3s ease-out 0s, transform 0.3s ease-out;
}

.logo-container:hover .email-logo {
  fill: rgb(255, 98, 98);
  transform: translateY(-10px);
  transition: fill 0.3s ease-out 0s, transform 0.3s ease-out;
}

.logo-container:hover .github-logo {
  fill: rgb(199, 230, 106);
  transform: translateY(-10px);
  transition: fill 0.3s ease-out 0s, transform 0.3s ease-out;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleUp {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}

.modal-closing {
  animation: fadeOut 0.5s, scaleDown 0.5s;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes scaleDown {
  from { transform: scale(1); }
  to { transform: scale(0.9); }
}


.ask-about-me-btn span {
padding: 10px 20px;
}

.ask-about-me-btn:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(330deg, #fff59a 20%, #ff6d6d 100%);
  transition: filter 250ms ease-out 0s;
}

.ask-about-me-btn:hover:before {
  background: linear-gradient(90deg, blue, purple);
  opacity: 1;
}

.ask-about-me-btn:active:before {
  opacity: 0.6;
}

.wedge {
  animation: float 3s infinite;
  position: absolute;
  border-radius: 50%;
  width: min(1440px, 100%);
  opacity: 0;
  transition: opacity 3s ease-in-out;  aspect-ratio: 1 / 1;
  transition: width 1.5s ease-in-out;
  transition: color 1.5s ease-in-out;
  top: max(-720px, -50vw);
  right: max(-720px, -50vw);
  background-color: rgb(250, 250, 250);
  filter: blur(4px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.wedge.pulse {
  animation: pulse 2s infinite;
}
